$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
);

$width: (
  null: 100%,
  small: 80%,
  medium: 70%,
  large: 60%,
  xlarge: 50%,
  xxlarge: 50%,
);

$p-font-sizes: (
  null: 12px, // for small devices
  small: 15px,
  medium: 17px,
  large: 19px,
  xlarge: 24px,
  xxlarge: 28px,
);

$h1-font-sizes: (
  null: 28px,
  small: 33px,
  medium: 36px,
  large: 38px,
  xlarge: 40px,
  xxlarge: 44px,
);
