@import "./variables";
@import "./mixin";


h1{
   @include font-size($h1-font-sizes, $breakpoints)
}

p{
    @include font-size($p-font-sizes, $breakpoints)
}

div{
    background-color: black;
    color: #fff;
    padding: 10px;
    @include responsive-width($width, $breakpoints);
    margin: auto;
}